# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
/react-native/my-project/node_modules/
/node/node_modules/
/node/package-lock.json
/node/public/person
/node/public/photo
/node/public/video
./react-native/my-project/node_modules/
./node/node_modules/
./node/package-lock.json
./node/public/person
./node/public/photo
./node/public/video

# Expo
/react-native/my-project/.expo/
/react-native/my-project/dist/
/react-native/my-project/web-build/
/react-native/my-project/package-lock.json

./react-native/my-project/.expo/
./react-native/my-project/dist/
./react-native/my-project/web-build/
./react-native/my-project/package-lock.json
# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*F

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
./react-native/my-project/.DS_Store
*.pem
/react-native/my-project/.DS_Store
# local env files
.env*.local
*.env
/react-native/my-project/.env
/node/.env
./react-native/my-project/.env
./node/.env
/next/admin_panel/.env
/next/admin_panel/package-lock.json
./next/admin_panel/.env
# typescript
*.tsbuildinfo
